.menuMobile {
    background-color: #f1f6f2;

    position: absolute;
    bottom: 0;

    width: 100%;
    height: auto;

    display: flex;
    justify-content: center;
    box-sizing: border-box;

    .menuElement {
        // background-color: rgb(190, 139, 29);
        width: 20vw;
        height: auto;

        margin: 5px;

        a {
            text-decoration: none;
            color: #000000;
            p {
                // background-color: #7b0606;
                margin: 0;
                padding: 0;
            }
        }
        }
        

}