.projet {
    background-color: violet;
    width: 15vw; height: 10vw;
    max-width: 15vw; max-height: 10vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    // background-image: url("../../assets/kasa.png");
    position: relative;
    
    img {
        width: 170%; height: auto;
    }
    .overlay {
        width: 100%; height: 200px;
        background-color: rgba(21, 167, 33, 0.777);
        position: absolute;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 1.8rem;
    }
    
}