.stepper {
    background-color: #22232C;
    width: 90%;
    // margin: 20px 0px;
    padding: 20px 0px;
    
    .MuiStepLabel-label {
        font-size: .5rem;
        color: white;
    }
    .css-1hv8oq8-MuiStepLabel-label.Mui-active {
        color: white;
    }
    .css-1hv8oq8-MuiStepLabel-label.Mui-completed {
        background-color: #0b1fd5;
        color: white;
    }
}