.mobile-hub {
    // background-color: rgb(15, 0, 128) !important;
    background-color: 17181C !important;
    width: 100%; 
    // height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    // padding-top: 20px;
    
    .zoneHub {
        // background-color: green !important;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        margin: 0px;
        padding: 10px 0px 10px 0px;
        
        ul {
            // background-color: #b613b3;
            width: 100%;
            
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
margin: 0;
            padding: 0;
        }
    }
    
}