.MobileAbout {
    background-color: #470d97;
    .MobileAboutNav {
        background-color: #56f869;
        ul {
            display: flex; 
            justify-content: space-around;
            li {
                list-style: none;
            }    
        }
    } 
    .MobileAboutCompenents {
        background-color: #7da7f0;
    }
}