.show-more {
    background-color: rgb(32, 213, 35);
    width: 100%;
    padding: 100px 0px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .accordion {
        background-color: rgb(108, 108, 155);
        width: 80%;
        
        .accordionTypography:first-child {
            // background-color: violet;
            font-size: 1rem;
        }
        .accordionTypography:last-child {
            // background-color: rgb(17, 78, 158);
            // font-size: .7rem;
            margin-left: 20px;
        }
        .css-eqpfi5-MuiAccordionSummary-content {
            justify-content: space-between;
        }

        .accordionDetails {
            text-align: left;
            .accordionDetailsRow1 {
                display: flex;
                justify-content: space-around;
            }
            .accordionDetailsRow3 {
                display: flex;
                p {
                    background-color: blue;
                    color: white;
                    margin-right: 10px;
                    padding: 10px;
                    border-radius: 20px;
                }
            }
            ul {
                background-color: red;
                text-align: left;
            }
        }
    }
    
}