.mobile-tuile {
    background-color: #22232C;
    // background-color: #1627c2;
    width: 40vw; 
    height: 40vw;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    img {
        width: 100px; height: auto;
    }
    p {
        font-size: 1.5rem;
    }
}