.mobile-hub {
  background-color: 17181C !important;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.mobile-hub .zoneHub {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 10px 0px 10px 0px;
}
.mobile-hub .zoneHub ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.section_projets {
  background-color: yellow;
  width: 100%;
  height: 100vh;
  padding: 10px 0;
  margin: 0;
  box-sizing: border-box;
  overflow-y: scroll;
}
.section_projets h2 {
  padding: 0;
  margin: 0;
}
.section_projets p {
  margin: 0;
  padding-bottom: 10px;
}
.section_projets .list_projets {
  background-color: red;
  width: 100%;
  height: auto;
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.mobile-tuile {
  background-color: #22232C;
  width: 40vw;
  height: 40vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 20px 10px;
  padding: 5px;
}
.mobile-tuile .link {
  text-decoration: none;
  color: inherit;
}
.mobile-tuile .link img {
  width: 40%;
  height: auto;
}
.mobile-tuile .link p {
  font-size: 20px;
  color: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  box-sizing: border-box;
}

.App {
  background-color: #17181C;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .menu {
    background-color: #22232C;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
  }
  .menu #hamburger {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
  }
  .menu p {
    text-align: center;
    color: white;
  }
}
.menuMobile {
  background-color: #f1f6f2;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.menuMobile ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 5px 0px 5px 0px;
  padding: 0;
}
.menuMobile ul li {
  margin: 0;
  list-style: none;
}
.menuMobile ul li .menuElement {
  text-decoration: none;
  color: inherit;
}
.menuMobile ul li .menuElement p {
  margin: 0;
  padding: 0;
}
.menuMobile .menuElement {
  width: 20vw;
  height: auto;
  margin: 5px;
}
.menuMobile .menuElement p {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .zone-banner {
    width: 90%;
    height: 20vh;
    margin: 20px auto 0px;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .zone-banner .banner {
    background-color: #22232C;
    width: 100%;
    height: 15vh;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .zone-banner .banner p {
    margin: 0;
    color: bisque;
    font-size: 16px !important;
  }
  .zone-banner .banner p:nth-child(1) {
    font-size: 0.8rem;
    margin: 0 !important;
    padding: 0;
  }
  .zone-banner .banner p:nth-child(2) {
    font-size: 1rem;
    margin: 0 !important;
    padding: 0;
    font-weight: 600;
  }
  .zone-banner img {
    position: absolute;
    top: -40px;
    right: -30px;
    width: 50%;
    height: auto;
  }
}
.mobile-tuile {
  background-color: #22232C;
  width: 40vw;
  height: 40vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px 10px 20px 10px;
  padding: 5px;
}
.mobile-tuile .link {
  text-decoration: none;
  color: inherit;
}
.mobile-tuile .link img {
  width: 40%;
  height: auto;
}
.mobile-tuile .link p {
  font-size: 20px;
  color: inherit;
}

.stepper {
  background-color: #22232C;
  width: 90%;
  padding: 20px 0px;
}
.stepper .MuiStepLabel-label {
  font-size: 0.5rem;
  color: white;
}
.stepper .css-1hv8oq8-MuiStepLabel-label.Mui-active {
  color: white;
}
.stepper .css-1hv8oq8-MuiStepLabel-label.Mui-completed {
  background-color: #0b1fd5;
  color: white;
}

.mobileSectionProjets {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projet2 {
  background-color: orange;
  width: 90%;
  height: 15vh;
  display: flex;
  margin: 20px 0px;
}
.projet2 img {
  background-color: pink;
  width: 30%;
  height: auto;
}
.projet2 .details {
  background-color: rgb(255, 255, 255);
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}
.projet2 .details h3 {
  background-color: orange;
  margin: 0;
  padding: 0;
}
.projet2 .details p {
  background-color: #a41616;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  margin-bottom: 10px;
}
.projet2 .details .stack {
  background-color: green;
  display: flex;
  justify-content: center;
  list-style: none;
}
.projet2 .details .stack li {
  background-color: violet;
  width: auto;
  background-color: violet;
  height: auto;
  padding-right: 20px;
  margin-right: 10px;
  font-size: 0.7rem;
}

.componentProjet {
  display: flex;
  justify-content: center;
}
.componentProjet .textLeft {
  text-align: left !important;
}

.MobileAbout {
  background-color: #470d97;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
}
.MobileAbout .MobileAboutNav {
  background-color: #56f869;
}
.MobileAbout .MobileAboutNav ul {
  display: flex;
  justify-content: space-around;
}
.MobileAbout .MobileAboutNav ul li {
  list-style: none;
}
.MobileAbout .MobileAboutCompenents {
  background-color: #7da7f0;
}

.mobileAboutMe {
  background-color: #17181C;
  margin: 20px;
}

.mobileCertificate {
  background-color: #c0107f;
  width: 100%;
  height: auto;
}

.mobile-contact {
  position: absolute;
  top: 0;
  background-color: rgb(196, 12, 12);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0px;
  box-sizing: border-box;
}
.mobile-contact .component-contact {
  background-color: rgba(132, 40, 40, 0);
}
.mobile-contact button {
  width: 90%;
  height: 30px;
  margin-top: 10px;
}

.contact {
  background-color: rgb(218, 22, 22);
  width: 90%;
  height: 40vh;
  box-shadow: 2px;
}
.contact .imgProfil {
  background-color: rgb(82, 82, 86);
  width: 100%;
  height: 80%;
  margin: auto;
}
.contact .imgProfil img {
  background-color: #17aa4f;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact .infos {
  background-color: rgb(247, 247, 247);
  width: 100%;
  height: auto;
  margin: auto;
  padding: 10px 0px;
}
.contact .infos .zoneIdentity {
  display: flex;
}
.contact .infos .zoneIdentity img {
  margin: 0px 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.contact .infos .zoneIdentity .identityName {
  margin: 0;
  font-size: 1rem;
  text-align: left;
}
.contact .infos .zoneIdentity .identityName p {
  margin: 0;
  padding: 0;
}
.contact .infos .zoneIdentity .identityName p:nth-child(1) {
  font-weight: bold;
  font-size: 1.5rem;
}

.hero {
  background-color: rgb(11, 6, 103);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero p {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .hero {
    background-color: rgb(0, 255, 106) !important;
    color: rgb(171, 185, 15);
  }
}
.projet {
  background-color: violet;
  width: 15vw;
  height: 10vw;
  max-width: 15vw;
  max-height: 10vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.projet img {
  width: 170%;
  height: auto;
}
.projet .overlay {
  width: 100%;
  height: 200px;
  background-color: rgba(167, 118, 21, 0.511);
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.8rem;
  transition: background-color 0.5s ease-out;
}
.projet .overlay img {
  width: 50%;
  height: auto;
}
.projet .overlay:hover {
  background-color: rgba(255, 255, 255, 0.777);
  transition: background-color 0.5s ease;
}
.projet .overlay:hover img {
  transform: scale(1.1);
  transition: all 300ms;
}

.overlay {
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay .overlay_content {
  background-color: red;
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
}
.overlay .overlay_content .gauche {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay .overlay_content .gauche img {
  width: 80%;
  height: auto;
}
.overlay .overlay_content .droite {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.overlay .overlay_content .droite .nom {
  font-size: 2rem;
}
.overlay .overlay_content .droite .presentation {
  text-align: left;
  margin: 1em 0px;
}
.overlay .overlay_content .droite .skills {
  display: flex;
  list-style: none;
  margin: 10px 0px;
}
.overlay .overlay_content .droite .skills li {
  background-color: blue;
  color: white;
  margin: 10px 10px 10px 0px;
  padding: 10px;
  border-radius: 10px;
}

.about {
  background-color: violet;
  width: 100%;
  height: 100vh;
  display: flex;
}
.about .about_gauche {
  background-color: rgb(23, 136, 25);
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about_gauche .about_nav {
  background-color: rgb(104, 104, 118);
  display: flex;
  justify-content: flex-start;
}
.about .about_gauche .about_nav ul {
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
}
.about .about_gauche .about_nav ul li {
  background-color: red;
  list-style: none;
  text-align: left;
  margin: 10px;
}
.about .about_gauche .about_nav ul li a {
  background-color: violet;
  width: 100%;
}
.about .about_droite {
  background-color: rgb(36, 36, 76);
  width: 50%;
  height: 100vh;
  overflow-y: hidden;
}
.about .about_droite .whoami {
  background-color: orange;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about_droite .certificate {
  background-color: rgb(65, 120, 91);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about_droite .experience {
  background-color: rgb(98, 29, 90);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-more {
  background-color: rgb(32, 213, 35);
  width: 100%;
  padding: 100px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.show-more .accordion {
  background-color: rgb(108, 108, 155);
  width: 80%;
}
.show-more .accordion .accordionTypography:first-child {
  font-size: 1rem;
}
.show-more .accordion .accordionTypography:last-child {
  margin-left: 20px;
}
.show-more .accordion .css-eqpfi5-MuiAccordionSummary-content {
  justify-content: space-between;
}
.show-more .accordion .accordionDetails {
  text-align: left;
}
.show-more .accordion .accordionDetails .accordionDetailsRow1 {
  display: flex;
  justify-content: space-around;
}
.show-more .accordion .accordionDetails .accordionDetailsRow3 {
  display: flex;
}
.show-more .accordion .accordionDetails .accordionDetailsRow3 p {
  background-color: blue;
  color: white;
  margin-right: 10px;
  padding: 10px;
  border-radius: 20px;
}
.show-more .accordion .accordionDetails ul {
  background-color: red;
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
