body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: blue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media only screen and (max-width: 768px) {
  .menu {
    display: flex;
    align-items: center;
  }
  .menu #hamburger {
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: wheat;
  }
  .menu p {
    text-align: center;
    color: white;
  }
}
.hero {
  background-color: rgb(11, 6, 103);
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero p {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  .hero {
    background-color: rgb(0, 255, 106) !important;
    color: rgb(171, 185, 15);
  }
}
.section_projets {
  background-color: yellow;
}
.section_projets h2 {
  padding: 0;
  margin: 0;
}
.section_projets p {
  padding: 0;
  margin: 0;
}
.section_projets .list_projets {
  background-color: red;
  width: 100%;
  height: auto;
  padding: 20px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.projet {
  background-color: violet;
  width: 15vw;
  height: 10vw;
  max-width: 15vw;
  max-height: 10vw;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
.projet img {
  width: 170%;
  height: auto;
}
.projet .overlay {
  width: 100%;
  height: 200px;
  background-color: rgba(167, 118, 21, 0.511);
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.8rem;
  transition: background-color 0.5s ease-out;
}
.projet .overlay img {
  width: 50%;
  height: auto;
}
.projet .overlay:hover {
  background-color: rgba(255, 255, 255, 0.777);
  transition: background-color 0.5s ease;
}
.projet .overlay:hover img {
  transform: scale(1.1);
  transition: all 300ms;
}

.overlay {
  background-color: black;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay .overlay_content {
  background-color: red;
  width: 80%;
  height: 80vh;
  display: flex;
  justify-content: center;
}
.overlay .overlay_content .gauche {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay .overlay_content .gauche img {
  width: 80%;
  height: auto;
}
.overlay .overlay_content .droite {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.overlay .overlay_content .droite .nom {
  font-size: 2rem;
}
.overlay .overlay_content .droite .presentation {
  text-align: left;
  margin: 1em 0px;
}
.overlay .overlay_content .droite .skills {
  display: flex;
  list-style: none;
  margin: 10px 0px;
}
.overlay .overlay_content .droite .skills li {
  background-color: blue;
  color: white;
  margin: 10px 10px 10px 0px;
  padding: 10px;
  border-radius: 10px;
}

.about {
  background-color: violet;
  width: 100%;
  height: 100vh;
  display: flex;
}
.about .about_gauche {
  background-color: rgb(23, 136, 25);
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about_gauche .about_nav {
  background-color: rgb(104, 104, 118);
  display: flex;
  justify-content: flex-start;
}
.about .about_gauche .about_nav ul {
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 0;
  padding: 0;
}
.about .about_gauche .about_nav ul li {
  background-color: red;
  list-style: none;
  text-align: left;
  margin: 10px;
}
.about .about_gauche .about_nav ul li a {
  background-color: violet;
  width: 100%;
}
.about .about_droite {
  background-color: rgb(36, 36, 76);
  width: 50%;
  height: 100vh;
  overflow-y: hidden;
}
.about .about_droite .whoami {
  background-color: orange;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about_droite .certificate {
  background-color: rgb(65, 120, 91);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .about_droite .experience {
  background-color: rgb(98, 29, 90);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-more {
  background-color: rgb(32, 213, 35);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.show-more .accordion {
  background-color: rgb(108, 108, 155);
  width: 100%;
}
.show-more .accordion .accordionTypography:first-child {
  font-size: 1rem;
}
.show-more .accordion .accordionTypography:last-child {
  margin-left: 20px;
}
.show-more .accordion .css-eqpfi5-MuiAccordionSummary-content {
  justify-content: space-between;
}
.show-more .accordion .accordionDetails {
  text-align: left;
}
.show-more .accordion .accordionDetails ul {
  background-color: red;
  text-align: left;
}

/*# sourceMappingURL=style.css.map */
