.mobile-contact {
    background-color: red;
    width: 100%; height: auto;
    display: flex;
    justify-content: center;
    padding: 10px 0px;

    .component-contact {
        background-color: rgb(132, 40, 40);
    }
}