.mobile-contact {
    position: absolute;
    top: 0;
    
    background-color: rgb(219, 211, 211);
    width: 100%; 
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 10px 0px;

    .component-contact {
        background-color: rgba(132, 40, 40, 0);
    }
    button {
        width: 90%;
        height: 30px;
        margin-top: 10px;
    }
}