.menuMobile {
    background-color: #f1f6f2;

    position: absolute;
    bottom: 0;

    width: 100%;
    height: auto;

    // display: flex;
    // justify-content: center;

    box-sizing: border-box;
    

    ul {
        // background-color: rebeccapurple;
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin: 5px 0px 5px 0px; 
        padding: 0;
        li {
            margin: 0;
            list-style: none;
            .menuElement {
                // background-color: yellow;
                text-decoration: none;
                color: inherit;

                p {
                    margin: 0; padding: 0;
                    // background-color: red;
                }
            }
        }
    }

    .menuElement {
        // background-color: rgb(190, 139, 29);
        width: 20vw;
        height: auto;

        margin: 5px;
        p {
            // background-color: #7b0606;
            margin: 0;
            padding: 0;
        }
        }
        

}